---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <span> - {{ page.event }} </span>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class='embed-container'>
      <iframe id="frame_viewer" src='{{ page.resource }}#page={{ page.start_page }}&zoom=FitH' frameborder='0' allowfullscreen></iframe>
      <!-- attempt fix for IOS browsers when viewing PDF resources -->
      {%- assign src=  site.url | append: "/" | append: "presentations/" | append: page.resource -%}
      {%- assign src=  src | append: "#page" | append: page.start_page | append: "&zoom=FitH" -%}
      {%- assign src= src | url_encode -%}

      <script>
        const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
        const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
        if (Math.min(vw, vh) <= 768  && "{{src}}".includes(".pdf%23")) {
            document.getElementById("frame_viewer").src = 'https://drive.google.com/viewerng/viewer?embedded=true&url={{ src }}'

        }
      </script>
    </div>
    <!-- {%- assign url = page.resource | append: "#page=" | append:  page.start_page | append: "&zoom=FitH" | url_encode -%}-->

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
    <p class="post-meta">
        <span >
            <a href="{{ page.next.url | relative_url }}">
                Previous Deck: {{ page.next.title | escape }}
            </a>
        </span>
    </p>
    </div>
    <div class="footer-col footer-col-4">
        <p class="post-meta">
            <span>
                <a href="{{ page.previous.url | relative_url }}">
                    Next Deck: {{ page.previous.title | escape }}
                </a>
            </span> 
        </p>
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
